@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");

@font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "GmarketSans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf5f2;
}

li,
ul {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #000;
}
/* header ------------------------------------------------------- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#header > .header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;

    background-color: rgba(255, 255, 255, 0.454);
    backdrop-filter: blur(5px);
}
#header > .header__inner > .logo > a {
    color: #ff8a8a;
    font-size: 20px;
}
#header > .header__inner > .logo > em {
    font-size: 14px;
    font-weight: 400;
    color: #ffaeae;
}
#header > .header__inner > #nav {
}
#header > .header__inner > #nav > ul {
}
#header > .header__inner > #nav > ul > li {
    display: inline-block;
}
#header > .header__inner > #nav > ul > li > a {
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 10px;
}

/* experience1 ------------------------------------------------------- */
.experience {
    width: 100vw;
    height: 100vh;
}

.experience > .section01_main > h2 {
    font-family: "yg-jalnan";
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 5%;

    background: -webkit-linear-gradient(top, #ffaeae 10%, #ff8a8a 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    webkit-box-decoration-break: clone;

    font-size: 150px;
    color: #ff8a8a;
}

.experience > .section01_main > h2::before {
    content: "";
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 30px;
    background: #ff8a8a;
    opacity: 0.3;
    border-radius: 50px;
    z-index: 1;
}

.experience > .section01_main > p {
    position: absolute;
    z-index: 1;
    top: 450px;
    left: 5%;

    font-size: 40px;
    color: #ffa9ac;
    white-space: nowrap;
}
.experience > .section01_main > p > em {
    font-weight: 700;
}

.experience > .section01_main > p + p {
    position: absolute;
    z-index: 1;
    top: 510px;
    left: 5%;

    font-size: 20px;
    color: #ffc9ca;
}

.section01_bg01 {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-image: url("public/img/section01_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    animation: upDown 2s linear infinite;

    z-index: 2;
}

.section01_bg02 {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background-image: url("public/img/section01_bg02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    animation: upDown 3s linear infinite;

    z-index: 2;
}

@keyframes upDown {
    0% {
        top: 60%;
    }
    50% {
        top: 59%;
    }
    100% {
        top: 60%;
    }
}

.section01_codeBg01 {
    position: absolute;
    top: 20%;
    right: 50%;
    width: 38.5px;
    height: 25px;
    background-image: url("public/img/code_bg01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(10deg);

    opacity: 0.8;
}

.section01_codeBg02 {
    position: absolute;
    top: 40%;
    right: 12%;
    width: 36px;
    height: 25px;
    background-image: url("public/img/code_bg02.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(-10deg);

    opacity: 0.8;
}

.section01_codeBg03 {
    position: absolute;
    top: 20%;
    right: 8%;
    width: 24px;
    height: 26px;
    background-image: url("public/img/code_bg03.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(-30deg);

    opacity: 0.8;
}

.section01_codeBg04 {
    position: absolute;
    top: 10%;
    right: 30%;
    width: 32px;
    height: 22px;
    background-image: url("public/img/code_bg04.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transform: rotate(10deg);

    opacity: 0.8;
}

.experience-canvas {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

@media (max-width: 1920px) {
    .experience-canvas {
    }
}

@media (max-width: 1400px) {
    /* 섹션 01 블렌더 요소 켄버스 */
    .experience-canvas {
        display: none;
    }
    /* 섹션 01 메인 타이틀 */
    .experience > .section01_main > h2 {
        left: 50%;
        transform: translateX(-50%);
    }
    .experience > .section01_main > p {
        left: 50%;
        transform: translateX(-50%);
    }
    .experience > .section01_main > p + p {
        left: 50%;
        transform: translateX(-50%);
    }
    .section01_codeBg01 {
        top: 40%;
        left: 8%;
    }
    .section01_codeBg02 {
        top: 45%;
        left: 86%;
    }
    .section01_codeBg03 {
        top: 20%;
        left: 65%;
    }
    .section01_codeBg04 {
        top: 15%;
        left: 40%;
    }
}
@media (max-width: 900px) {
    /* 섹션 01 블렌더 요소 켄버스 */
    .experience-canvas {
    }

    .experience > .section01_main > h2::before {
        bottom: 40px;
        left: 0;
        height: 30px;
    }
    /* 섹션 01 메인 타이틀 */
    .experience > .section01_main > h2 {
        font-size: 100px;
    }
    .experience > .section01_main > p {
        top: 385px;
        font-size: 25px;
    }
    .experience > .section01_main > p + p {
        top: 422px;
        font-size: 18px;
    }

    @keyframes upDown {
        0% {
            top: 45%;
        }
        50% {
            top: 40%;
        }
        100% {
            top: 45%;
        }
    }
}

@media (max-width: 600px) {
    /* 섹션 01 블렌더 요소 켄버스 */
    .experience-canvas {
    }
    /* 섹션 01 메인 타이틀 */
    .experience > .section01_main > h2 {
        font-size: 80px;
    }
    .experience > .section01_main > h2::before {
        bottom: 30px;
    }
    .experience > .section01_main > p {
        top: 365px;

        font-size: 20px;
    }
    .experience > .section01_main > p + p {
        top: 400px;

        font-size: 15px;
    }
    .section01_codeBg01 {
        width: 22px;
        height: 22px;
        background-size: contain;
        top: 30%;
        left: 8%;
    }
    .section01_codeBg02 {
        width: 22px;
        height: 22px;
        background-size: contain;
        top: 30%;
        left: 86%;
    }
    .section01_codeBg03 {
        width: 20px;
        height: 20px;
        background-size: contain;
        top: 20%;
        left: 65%;
    }
    .section01_codeBg04 {
        width: 22px;
        height: 22px;
        background-size: contain;
        top: 23%;
        left: 35%;
    }
    @keyframes upDown {
        0% {
            top: 40%;
        }
        50% {
            top: 38%;
        }
        100% {
            top: 40%;
        }
    }

    .section01_bg01,
    .section01_bg02 {
        height: 40%;
    }
}

/* experience2 ------------------------------------------------------- */
.experience2 {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 110vh;
    /* background: linear-gradient(to bottom, #fdf5f2 30%, #ff8a8a 130%); */
    /* background-color: #fdf5f2; */
}

.experience-canvas2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section02__inner {
    position: relative;
}
.section02__inner > h2 {
    position: absolute;
    top: 550px;
    right: 250px;
    display: inline-block;
    color: #ff8a8a;
    font-size: 55px;
    margin-bottom: 50px;
    z-index: 2;
}
.section02__inner > h2::after {
    content: "";
    position: absolute;
    top: -130px;
    left: -80px;
    width: 500px;
    height: 500px;
    opacity: 0.4;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: multiply;
}
.section02__inner > h2::before {
    content: "";
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 15px;
    background-color: #ff8a8a;
    border-radius: 50px;
    opacity: 0.2;
    z-index: 2;
}
.section02_myImg {
    position: absolute;
    top: 250px;
    right: 500px;

    width: 500px;
    height: 500px;
    background-image: url("public/img/profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section02_myImg02 {
    position: absolute;
    top: 250px;
    right: 300px;

    width: 250px;
    height: 250px;
    background-image: url("public/img/profile03.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 50%;
}
.section02__inner > .section02__info {
    position: absolute;
    top: 500px;
    right: 120px;
    padding: 20px;
    margin-top: 100px;
    font-size: 15px;
    z-index: 2;
}
.section02__inner > .section02__info > p {
    background-image: none;
    color: #ea6f6f;
    margin-bottom: 12px;
    line-height: 1.4;
}

.section02__info > .name {
}
.section02__info > .age {
}
/* 
.section01__bg02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("public/img/section02_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
} */

.section01__heart01 {
    position: absolute;
    top: 500px;
    right: 150px;
    width: 30px;
    height: 30px;
    background-image: url("public/img/heart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale 2s ease-in infinite;
}
.section01__heart02 {
    position: absolute;
    top: 800px;
    right: 800px;
    width: 65px;
    height: 65px;
    background-image: url("public/img/heart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale 1.5s ease-in infinite;
}
.section01__heart03 {
    position: absolute;
    top: 220px;
    right: 1000px;
    width: 60px;
    height: 60px;
    background-image: url("public/img/heart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale 2s 2.5s ease-in infinite;
}
.section01__heart04 {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-image: url("public/img/heart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale 1.4s 0.5s ease-in infinite;
}
.section01__heart05 {
    position: absolute;
    top: 150px;
    right: 450px;
    width: 50px;
    height: 50px;
    background-image: url("public/img/heart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scale 1.6s 3s ease-in infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 1920px) {
}

@media (max-width: 1400px) {
    .experience-canvas2 {
        display: none;
    }

    .section01__heart04 {
        display: none;
    }

    .section02__inner > h2 {
        top: 480px;
        left: 50%;
        font-size: 40px;
        white-space: nowrap;
    }

    .section02_myImg {
        top: 220px;
        width: 40vw;
        min-width: 430px;
        background-size: contain;
        left: 15%;
    }
    .section02_myImg02 {
        top: 160px;
        width: 20vw;
        min-width: 250px;
        height: 20vw;
        min-height: 250px;
        background-size: cover;
        left: 48%;
    }
    .section02__inner > h2::after {
        width: 470px;
        height: 470px;
        left: -50px;
    }
    .section02__inner > h2::before {
        bottom: 0;
        width: 210px;
    }
    .section02__inner > .section02__info {
        white-space: nowrap;
        top: 420px;
        left: 48.5%;
        font-size: 14px;
    }
    .section01__heart05 {
        left: 70%;
    }
    .section01__heart03 {
        left: 10%;
    }
}
@media (max-width: 900px) {
    .section02__inner > h2 {
        top: 450px;
        left: 48%;
        font-size: 30px;
        white-space: nowrap;
    }
    .section02__inner > h2::after {
        width: 370px;
        height: 370px;
        left: -40px;
        top: -70px;
    }
    .section02__inner > h2::before {
        bottom: 0;
        width: 160px;
    }

    .section02_myImg {
        top: 220px;
        width: 360px;
        min-width: 230px;
        background-size: contain;
        left: 13%;
    }
    .section02_myImg02 {
        top: 220px;
        width: 20vw;
        min-width: 200px;
        height: 20vw;
        min-height: 200px;
        background-size: cover;
        left: 45%;
    }

    .section02__inner > .section02__info {
        white-space: nowrap;
        top: 380px;
        left: 46%;
        font-size: 12px;
    }
    .section01__heart05 {
        left: 70%;
    }
    .section01__heart03 {
        left: 10%;
    }
}

@media (max-width: 600px) {
    .section02__inner > h2 {
        top: 500px;
        left: 25%;
        font-size: 25px;
        white-space: nowrap;
    }
    .section02__inner > h2::after {
        width: 340px;
        height: 340px;
        left: -40px;
        top: -70px;
    }
    .section02__inner > h2::before {
        bottom: 0;
        width: 130px;
    }

    .section02_myImg {
        top: 80px;
        width: 250px;
        min-width: 230px;
        background-size: contain;
        left: 15%;
    }
    .section02_myImg02 {
        top: 330px;
        width: 20vw;
        min-width: 150px;
        height: 20vw;
        min-height: 150px;
        background-size: cover;
        left: 50%;
    }

    .section02__inner > .section02__info {
        white-space: nowrap;
        top: 425px;
        left: 22%;
        font-size: 11px;
    }
    .section01__heart05 {
        left: 70%;
    }
    .section01__heart03 {
        left: 10%;
    }
}
/* experience3 ------------------------------------------------------- */
.experience3 {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(to top, #ffaeae 50%, #ff8a8a 100%);

    /* background-color: #ff8a8a; */
}

.experience-canvas3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section03__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}
.section03__inner > h2 {
    margin-top: 120px;
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin-bottom: 50px;
}
.section03__work {
}
.section03__work > h3 {
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section03__work > ul {
}
.section03__work > ul > li {
    display: inline-block;
}
.section03__work > ul > li > a {
    font-weight: 300;
    color: rgb(255, 232, 232);
    padding: 10px 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.section03__work > ul > li > a:hover {
    background-color: #fff;
    color: #de7e73;
}

.section03__circle01 {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.2;
}
.section03__circle02 {
    position: absolute;
    bottom: -300px;
    left: 500px;
    width: 700px;
    height: 700px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.1;
}
.section03__circle03 {
    position: absolute;
    top: 100px;
    right: -50px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.3;
}

/* experience4 ------------------------------------------------------- */
#section04 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.section04__subTitle {
    position: absolute;
    top: 150px;
    right: 100px;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: #ff8a8a;
}
.section04__title {
    position: absolute;
    top: 210px;
    right: 100px;
    color: #ff8a8a;
    font-size: 100px;
}

.address {
    position: absolute;
    top: 330px;
    right: 100px;
    font-style: normal;
    font-size: 24px;
    color: #ff8a8a;
    z-index: 3;
}
.address a {
    color: #ffb2b2;
}
.sns {
    position: absolute;
    top: 380px;
    right: 100px;
    display: flex;
    z-index: 3;
}
.sns_box {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}
.sns_box img {
    width: 100%;
    height: 100%;
}
.section04__bg {
    position: absolute;
    bottom: -350px;
    right: -200px;
    width: 1500px;
    height: 700px;
    border-radius: 50%;
    background-color: #ffcaca;
    z-index: -1;
}

.section04__bg02 {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #ffa1a1;
    z-index: -1;
}
